<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>07 Blog : Quartum</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,900italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="index.html" class="brand"><img src="img/logo.png" alt="Quartum!">Quartum</a>

			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">menu <span class="caret"></span></a>

			<div class="nav-collapse">
			    <ul class="nav pull-right">
                    <li><a href="index.html">Home</a></li>
				    <li><a href="03about.html">About</a></li>
                    <li class="dropdown"><a href="04services.html" class="dropdown-toggle" >Services</a>
				        <ul class="dropdown-menu unstyled">
					        <li><a href="04services.html">All works</a></li>
					        <li><a href="04services.html">Design</a></li>
					        <li><a href="04services.html">Development</a></li>
					        <li><a href="04services.html">Promotion</a></li>
				        </ul>
				    </li>
				    <li><a href="05work.html">Work</a></li>
				    <li class="active"><a href="07blog.html">Blog</a></li>
				    <li><a href="09contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="titleRow">
	<div class="container">
		<h1>
			<span class="lft"></span><span class="mid">Our blog</span><span class="rt"></span>
		</h1>
	</div>
</div>


<div id="ourBlog">
<div class="container">
<div class="row">
<div class="span9">
	<!-- left container -->
	<div class="blogPost">
		<h5>
			<span class="lft"></span><span class="mid">3 August 2012</span><span class="rt"></span>
		</h5>

		<ul class="thumbnails">
			<li>
				<a href="08singlepost.html" class="thumbnail corner">
					<span class="topCorner"></span>
          <img src="img/content/blog-1.jpg" alt="">
					<span class="bottomCorner"></span>
				</a>
			</li>
		</ul>

		<h2><a href="08singlepost.html">Post number one</a></h2>

		<p>Nunc diam eros, vestibulum eget commodo non, egestas et urna. Aenean ipsum purus, varius quis malesuada sit amet, eleifend ac est. Sed adipiscing dictum neque, vitae euismod ante dictum. In hac habitasse
			platea dictumst. Phasellus non sapien nec risus convallis venenatis. Morbi erat urna, malesuada vitae mollis sed, facilisis at felis. Fusce aliquet facilisis orci, ut gravida ligula viverra quis. Aliquam
			sed accumsan risus. Duis at pretium arcu.
			<br><br>Nulla nisl est, gravida vel iaculis vel, porttitor a eros. Sed laoreet sagittis nisi ut. Sed aliquet rutrum mi a molestie. Proin convallis posuere aliquet. Maecenas non lacus sit amet diam
			fermentum pellentesque nec non ligula.</p>

		<p class="summary">Filed under: <a href="#">Photo</a><span class="dividers">,</span> <a href="#">Personal</a> <span class="dividers">||</span> <a href="#">3 comments</a></p>
	</div>

	<div class="blogPost">

		<h5>
			<span class="lft"></span><span class="mid">1 August 2012</span><span class="rt"></span>
		</h5>
		<ul class="thumbnails">
			<li>
				<a href="08singlepost.html" class="thumbnail corner">
					<span class="topCorner"></span>
          <img src="img/content/blog-2.jpg" alt="">
					<span class="bottomCorner"></span>
				</a>
			</li>
		</ul>

		<h2><a href="08singlepost.html">Post number two</a></h2>

		<p>Cras eu viverra diam. Integer ut enim ut neque viverra facilisis eu ultricies dui. Proin tempus est sed arcu rhoncus bibendum. Suspendisse adipiscing nisi sed est vulputate at viverra lorem sagittis. Donec
			risus orci, ultrices ac euismod ut, rutrum non nibh. In eget est eu odio tincidunt sagittis. Nullam tristique blandit orci ut vulputate. Fusce ultricies vestibulum accumsan. Morbi adipiscing arcu non
			massa laoreet porta. Sed ultricies tellus non ante pun eleifend facilisis.</p>

		<p class="summary">Filed under: <a href="#">Photo</a><span class="dividers">,</span> <a href="#">Personal</a> <span class="dividers">||</span> <a href="#">Leave a comment</a></p>
	</div>

	<div class="blogPost">
		<h5>
			<span class="lft"></span><span class="mid">29 july 2012</span><span class="rt"></span>
		</h5>

		<h2><a href="08singlepost.html">Post Number Three, Without Image</a></h2>

		<p>Nulla eu dui id odio sollicitudin suscipit sed eu odio. Sed rutrum, neque ut dapibus eleifend, orci nisi aliquet erat, et fermentum leo urna eu magna. Cras a est vel massa facilisis sagittis. Donec
			convallis arcu id eros varius tincidunt. Sed sit amet justo ac risus mattis varius ultrices sed tellus. Proin consequat mi nec nibh sagittis rhoncus. Phasellus a erat velit, sit amet blandit justo. Donec
			convallis nulla bibendum nisi luctus vulputate.
			<br><br>Vivamus quis magna a nibh tempor euismod. Proin eget augue ut sapien sollicitudin commodo. Pellentesque sed lorem massa, eu tristique urna. Phasellus sodales eros faucibus neque feugiat cursus.
			Nam quam odio, interdum cursus blandit eu, mollis sodales enim. Donec enim tellus, lacinia quis adipiscing dictum, mollis in leo. Nam egestas semper nibh, eu sollicitudin tortor interdum quis. Praesent
			hendrerit, turpis sed scelerisque accumsan, nunc arcu tincidunt erat.</p>

		<p class="summary">Filed under: <a href="#">Personal</a> <span class="dividers">||</span> <a href="#">12 comments</a></p>
	</div>


	<div class="pager">
		<ul class="unstyled">
			<li class="previous"><span>Previous page</span></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li class="next"><a href="#" >Next page</a></li>
		</ul>
	</div>


</div>
<div class="span3">
	<!-- right sidebar -->

	<div class="blogSidebar">
		<h4>Search Blog</h4>

		<form class="form-search">
			<input type="text" class="input-medium search-query" placeholder="Type and press enter">
		</form>

		<br><br>

		<h4>Categories</h4>

		<ul class="categories unstyled clearfix">
			<li><a href="#">Announcement</a> <span>1</span></li>
			<li><a href="#">Print</a> <span>4</span></li>
			<li><a href="#">Photo of the day</a> <span>15</span></li>
			<li><a href="#">Miscellaneous</a> <span>21</span></li>
			<li><a href="#">Personal</a> <span>37</span></li>
		</ul>

		<br><br>

		<h4>Archives</h4>

		<h5>2012</h5>
		<ul class="months unstyled">
			<li><a href="#">August</a></li>
			<li><a href="#">July</a></li>
			<li><a href="#">June</a></li>
			<li><a href="#">May</a></li>
			<li><a href="#">April</a></li>
			<li><a href="#">March</a></li>
			<li><a href="#">February</a></li>
			<li><a href="#">January</a></li>
		</ul>

		<h5>2011</h5>
		<ul class="months unstyled">
			<li><a href="#">December</a></li>
			<li><a href="#">November</a></li>
			<li><a href="#">October</a></li>
			<li><a href="#">September</a></li>
		</ul>

		<br><br><br><br>

		<div class="tabs1">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
				<li><a href="#popular" data-toggle="tab">Popular</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="recent">
					<a href="#">Sed sit amet justo ac risus mattis varius qellus</a>
					<span>3 August, 2012</span>

					<a href="#">Sed sit amet justo ac risus mattis varius qellus</a>
					<span>3 August, 2012</span>

					<a href="#">Sed sit amet justo ac risus mattis varius qellus</a>
					<span>3 August, 2012</span>

				</div>
				<div class="tab-pane" id="popular">
					<a href="#">Sed sit amet justo ac risus mattis varius qellus t amet justo ac risus mattis var t amet justo ac risus mattis var</a>
					<span>2 August, 2012</span>

				</div>
			</div>
		</div>


		<br><br>

		<h4>About</h4>

		<p>Vivamus quis magna a tempor euismod. Proin eget id sapien. Pellentesque sed lorem massa, eu tristique urna. Phasellus soda faucibus neque feugiat cursus.</p>


		<br><br>

		<h4>Accordion</h4>

		<div class="acc1">
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							Design
						</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse">
						<div class="accordion-inner">
							1 In enim justo, elementum vitae commodo vel, luctus nec mauris. Nunc rhoncus laoreet eleifend. Morbi in sem ac nibh lacinia non ac leo. Nulla a augue sit amet tellus cursus par varius.
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							Development
						</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse in">
						<div class="accordion-inner">
							2 In enim justo, elementum vitae commodo vel, luctus nec mauris. Nunc rhoncus laoreet eleifend. Morbi in sem ac nibh lacinia non ac leo. Nulla a augue sit amet tellus cursus par varius.
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							Promotion
						</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse">
						<div class="accordion-inner">
							3 In enim justo, elementum vitae commodo vel, luctus nec mauris. Nunc rhoncus laoreet eleifend. Morbi in sem ac nibh lacinia non ac leo. Nulla a augue sit amet tellus cursus par varius.
						</div>
					</div>
				</div>
			</div>
		</div> <!-- acc1 -->



	</div>
</div>


</div>
</div>
</div>


<div id="contactUsRow" class="green-row">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h4>Contact us</h4>
				<address>
					<strong>Address:</strong> 221 Baker Street,<br>
					London, United Kingdom<br>
					<strong>Tel:</strong> +12 346-678-90<br>
					<strong>Fax:</strong> +12 346-678-93<br>
					<strong>Email:</strong> <a href="#">hello@quartum.com</a>
				</address>

			</div>
			<div class="span3">

				<ul class="thumbnails">
					<li>
            <a href="#" class="thumbnail"><img src="img/content/footer-map.jpg" alt=""></a>
					</li>
				</ul>

			</div>
			<div class="span3">
				<p>Would you like to talk about your next project?</p>
				<a href="#" class="btn red-btn">request a quote</a>
			</div>
			<div class="span3">
				<div id="getInTouch">
					<h4>Get in touch</h4>

					<ul class="social">
            <li><a href="#" class="facebook" data-toggle="tooltip" title="Facebook"></a></li>
            <li><a href="#" class="twitter" data-toggle="tooltip" title="Twitter"></a></li>
            <li><a href="#" class="googleplus" data-toggle="tooltip" title="Google+"></a></li>
            <li><a href="#" class="linkedin" data-toggle="tooltip" title="LinkedIn"></a></li>
            <li><a href="#" class="pinterest" data-toggle="tooltip" title="Pinterest"></a></li>
					</ul>

				</div>
				<div id="newsletter">
					<h4>Newsletter</h4>

					<form class="form-search">
						<div class="input-append">
							<input type="text" class="span2 search-query" placeholder="Enter your email">
							<button type="submit" class="btn newsletterSubmit"></button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
<div id="footText">
	<div class="container">
		<div class="row">
			<div class="span4">
                <a href="#" class="toTop pull-left">BACK TO TOP</a>
			</div>
			<div class="span8">
				<p class="pull-right">&copy; 2012 Quartum. Template design by kripalser.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>


<script src="js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

	$(document).ready(function(){
    /*** Accordion style headers ***/
		$('.accordion').on('show', function (e) {
			$(e.target).prev('.accordion-heading').find('.accordion-toggle').addClass('active');
		});

		$('.accordion').on('hide', function (e) {
			$(this).find('.accordion-toggle').not($(e.target)).removeClass('active');
		});
	});
    /***  Footer Back to Top link ***/
    $('a.toTop').click(function () {
        $('html, body').animate({scrollTop:'0px'}, 300);
        return false;
    });
</script>



</body>
</html>